<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <title>SA Details - SA Drive</title>
    <link rel="stylesheet" href="./../static/css/style.css">
</head>

<body class="bg-dark text-white">
    <nav class="navbar navbar-expand-lg bg-body-tertiary " style="background-color: #02233b;">
        <div class="container-fluid">
            <div style="display: inherit;">
                <a class="navbar-brand text-white" href="/drive">
                    <img src="/static/images/icon.png" alt="Logo" width="35" height="35"
                        class="d-inline-block align-text-top">
                    SA Drive
                </a>
                <ul class="nav justify-content-start">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Additional Options
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="https://drive.google.com/drive/u/0/folders/{{ this_id }}" class="dropdown-item"
                                    target="_blank" rel="noopener noreferrer">View in google drive</a>
                            </li>
                            <li>
                                <a href="/starred" class="dropdown-item" target="_blank" rel="noopener noreferrer">Show
                                    starred files</a>
                            </li>
                            <li>
                                <a href="/sasdetails" class="dropdown-item" target="_blank"
                                    rel="noopener noreferrer">Show
                                    SA details</a>
                            </li>
                            <!-- <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-md">
        <br>
        <h4 class="h4 text-center">/ SA Details /</h4>
        <br>
        <p class="h5 text-center">
            {{ humanbytes(space_details[0]) }} occupied of {{ humanbytes(space_details[1]) }}
            <br>
            Free space: {{ humanbytes(space_details[1] - space_details[0]) }}
        </p>
        <br>
        <table class="table text-white">
            <thead>
                <tr>
                    <th scope="col">Service Account Number</th>
                    <th scope="col" class="text-end">Drive Size Occupied</th>
                </tr>
            </thead>
            <tbody>
                {% for child in items %}

                <tr>
                    <td>
                        {{ child[0] }}
                    </td>
                    <td class="text-end">
                        {{ humanbytes(child[1]) }}
                    </td>

                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    <div style="height:2.5em;"></div>
    <div class="container text-center fixed-bottom bg-dark">
    <hr>

        <code class="">
            Made with 💖 by jsmsj
        </code>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
</body>

</html>